<html>
<head>
</head>
<body>
<div align="center">
<h1>student info</h1>
<form action="studentinfo.py"  method="post">
<b>Enter Name:</b>
<input type="text" placeholder="enter name" name="sname"></br></br>
<b>Enter Id:</b>
<input type="text" placeholder="enter Id" name="id"></br></br>
<b>Enter Address:</b>
<input type="text" placeholder="enter Address" name="address"></br></br>
<b>Enter marks:</b>
<input type="text" placeholder="enter marks" name="mark"></br></br>
<b>Enter grade:</b>
<input type="text" placeholder="enter grade" name="grade"></br></br>
<input type="submit" value="submit">
</form>
</div>
</body>
</html>